body {
	margin: 0;
}

#homePage {
	background-color: black;
}

#navbar {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 84%;
	padding: 0 8% 0 8%;
	
	z-index: 1000;
	background-color: #e5e4e3;
	opacity: 0.95;
}

#navbar-header {
	color: black;
	float: left;
	
	height: 1em;
	margin: 12px 0 12px 0;

	font-family: "Montserrat";
	font-size: 18pt;
	font-weight: 500;
}

#navbar-header:hover {
	color: #1EA919;
	opacity: 0.75;
}

#navbar-buttons {
	color: black;
	float: right;

	height: 1em;
	margin: 16.5px 0 16.5px 30px;

	font-family: "Montserrat";
	font-size: 12pt;
	font-weight: 500;
}

#navbar-buttons:hover {
	color: green;
	opacity: 0.75;
}

@font-face {
	font-family: "Montserrat";
	src: url(../Fonts/montserrat/Montserrat-Regular.otf);
}

@font-face {
	font-family: "Raleway";
	src: url(../Fonts/raleway/Raleway-Regular.ttf);
}

#homePage h5 {
	color: white;
	font-size: 55pt;
	margin-bottom: 0;

	font-family: "Montserrat";
	font-weight: 500;
}

#homePage h3 {
	color: white;
	font-size: 19pt;

	font-family: "Raleway";
	font-weight: normal;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    color: white;
}

figcaption {
	color: white;
	padding-top: 6%;
	font-size: 10pt;
	font-family: "Raleway";
	font-weight: normal;
}

a {
	text-decoration: none;
}

#homeScreenImg {
	height: auto;
	width: 100%;
	position: absolute;
	bottom: 0;
}

#resumePic {
	height: auto;
	width: 44%;
	padding-bottom: 3%;
}

#experiencePic {
	height: auto;
	width: 50%;
}

#aboutMePic {
	padding-bottom: 3.5%;
	height: auto;
	width: 45%;
}

#travelPic { 
	padding-bottom: 3.5%;
	height: auto;
	width: 47%;
}

.titleImage {
	position: relative;
	margin-right: 0;
	margin-left: auto;
    width: 30%;
    height: 100%;
    vertical-align: center;
}

.titleText {
	position: relative;
	width: 50%;
	text-align: center;
    float: left;
    margin-left: 15%;
}

.iconBtns {
	position: absolute;
	left: 5%;
	width: 90%;
	margin: auto;
	vertical-align: center;
}

.iconBtns figure {
	display: inline-block;
	margin: 3%;
	width: 15%;
}

.iconBtns figure:hover {
	opacity: 0.7;
}

#internships, #otherExperience, #hackathons, #projects {
	margin: 2.5% 10% 2.5% 10%;
	width: 80%;

	display: table;
}

#experiencePage h5, #travelPage h5 {
	color: black;
	font-size: 40pt;
	margin-bottom: 3%;

	font-family: "Montserrat";
	font-weight: 400;

	text-align: center;
}

#experiencePage h4, #travelPage h4 {
	font-family: "Montserrat";
	font-weight: 200;
	font-size: 20pt;
}

#internshipsTbl, #hackathonsTbl, #projectsTbl {
	width: 100%;
	border-collapse: collapse;
}

#internshipsTbl td {
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	height: 5%;
	padding-top: 1%;
	padding-bottom: 1%;
}

.experienceRow:hover {
	background-color: #e5e4e3;
	cursor: pointer;
}

.logoCol {
	width: 20%;
	height: 100%;
	vertical-align: middle;

	border-left: 1px solid #dddddd;
	text-align: center;
}

#nvidia-logo {
	width: 30%;
	padding: 2% 0 2% 0;
}

#sap-logo {
	width: 40%;
	padding: 2% 0 2% 0;
}

#tesla-logo {
	width: 25%;
	padding: 0;
}

#linamar-logo {
	width: 28%;
}

#gm-logo {
	width: 24%;
}

#llc-logo{
	width: 33%;
}

#wato-logo{
	width: 45%;
}

#kumon-logo {
	width: 60%;
	padding: 5% 0 5% 0;
}

#uwaft-logo {
	width: 38%;
}

.datesCol {
	text-align: right;
	border-right: 1px solid #dddddd;

	font-family: "Raleway";
	font-weight: bold;
	font-size: 15pt;
	text-align: center;
	width: 30%;
}

.jobCol {
	font-family: "Raleway";
	font-weight: bold;
	font-size: 15pt;
	width: 50%;
}

.hackathonProject, .project {
	width: 25%;
	text-align: center;
	position: relative;
}

.hackathonProject img, .project img {
	width: 90%;
}

.hackathonProject img:hover, .project img:hover {
	cursor: pointer;
	opacity: 0.9;
}

.projectTitle:hover {
	cursor: pointer;
}

#scroll-down-pointer {
	width: 8%;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

#projectModal {
	text-align: center;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
	background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close, .projectClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .projectClose:hover,
.close:focus, .projectClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modalLogo {
	width: 30%;
	text-align: center;
}

.modalTitle, .projectModalTitle {
	vertical-align: bottom;
	font-family: "Montserrat";
	font-size: 30px;
	font-weight: 400;
}

.modalCompany {
	vertical-align: top;
	font-family: "Raleway";
	font-size: 25px;
}

#winnerOverlay {
	position: absolute;
	left: 1.9%;
	top: -3%;
	width: 40%;
}

.projectTitle {
	background-color: #1EA919;
	position: absolute;
	left: 10%;
	bottom: 4%;

	font-family: "Avenir";
	font-size: 1em;
	font-weight: bold;
	color: black;

	width: 80%;
	padding: 2.5% 0 2.5% 0;
}

.gallery, .projectGallery {
	display: none;
	width: 60%;
	margin: auto;
}

.gallery img, .gallery iframe, .projectGallery img, .projectGallery iframe {
	width: 100%;
	padding-top: 5%;
}

.contentHTML, .projectContentHTML {
	display: none;
	width: 80%;
	margin: 3% auto;
	text-align: left;

	font-family: "Avenir";
}

.contentHTML a {
	text-decoration: underline;
}

.awardContainer{
	position: absolute;
	top: 10%;
	right: 7%;
	width: 60%;
	overflow: auto;

	font-family: "Avenir";
	font-size: 0.9em;

	background-color: #FFC207;
	color: white;
	padding: 2%;

	display: none;
	z-index: 10;
}

#travelsTitle {
	margin-bottom: 8%;
}

#travels {
	margin: 2.5% 10% 2.5% 10%;
	width: 80%;
	height: auto;

	display: block;
	overflow: visible;
}

#lundContainer {
	display: inline-block;
	width: 29%;
}

#temp {
	display: inline-block;
	width: 70%;
}

#madridContainer {
	display: inline-block;
	position: relative;
	width: 56%;
}

#londonContainer {
	display: inline-block;
	position: relative;
	width: 42%;
}

#amalfiContainer {
	display: inline-block;
	position: relative;
	width: 100%;
}

.travelImg {
	width: 100%;
}

.travelImg:hover {
	opacity: 0.75;
	cursor: pointer;
}

.lblContainer {
	position: absolute;
	top: 0;
	overflow: auto;

	font-family: "Avenir";
	font-size: 100%;
	text-align: center;

	background-color: white;
	color: black;
	padding: 2%;

	display: none;
	z-index: 10;
}
