.vscode/**
/resources/trussVid.MOV
/resources/AttendanceAidDemo.mp4
/resources/220vid.mp4
.DS_Store
resources/.DS_Store
/freelan
compress.py
/travel/resources/skardu/**
!/travel/resources/skardu/skardu.jpg
!/travel/resources/skardu/skardu-lbl-1.png
